<!DOCTYPE html>
{% load static %}
<html>
<link rel="stylesheet" type="text/css"  href="{% static "css/BankHomeApp/dis.css" %}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<head>
	<title> Statement</title>

</head>
<body>
{% if BS_list %}
<h1 align="center">Bank Statement </h1>
	<table align="center" class="table table-borderless table-primary" border="10">
		<tr>
			<th> Date</th>
			<th> Particulars</th>
			<th> Withdrawals</th>
			<th> Deposits</th>
			<th> Balance</th>
			
		</tr>

		{% for BS in BS_list %}
		{% ifequal user.AccountNumber BS.Sender_acc %}
<tr>
			<th> {{BS.Transaction_Date}}</th>
			<th> {{BS.Receiver}}</th>
			<th> - </th>
			<th> {{BS.Transaction_Value}}</th>
			<th> {{BS.Sender_Balance}}</th>
			
		</tr>

		{% endifequal %}

		{% ifequal user.AccountNumber BS.Receiver_acc %}
<tr>
			<th> {{BS.Transaction_Date}}</th>
			<th> {{BS.Sender}}</th>
			<th> {{BS.Transaction_Value}}</th>
			<th> - </th>
			<th> {{BS.Receiver_Balance}}</th>
			
		</tr>


		{% endifequal %}

        {% endfor %}


	</table>

{% else %}
	<h1>no data to display</h1>

{% endif %}


</body>
</html>