<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/BankHomeApp/dis.css" %}" >
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<style type="text/css">
</style>
	<title></title>
</head>
<body class="divclass">
<form action="" method="POST" align="center">
{% csrf_token %}
<input type="text" name="AccountNumber" placeholder="Account Number"> 
<input type="Password" name="Q1" placeholder="What is your Favourite Food?"> 
<input type="Password" name="Q2" placeholder="What is your Favourite Sport?">
<input type="Password" name="Q3" placeholder="What is your Favourite Animal?"> 
<input type="Submit">
</form>

<div>
	{% for message in messages %}
	<h3>
		{{message}}
	</h3>
	{% endfor%}
</div>
<br></br>

<div align="center">
<a class="btn btn-primary btn-lg" href="javascript:history.back()"> Back</a></div>
</body>
</html>