<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="" method="POST">
{% csrf_token %}
<input type="text" name="AccountNumber" placeholder="Account Number"> 
<input type="Password" name="Q1" placeholder="What is your Favourite Food?"> 
<input type="Password" name="Q2" placeholder="What is your Favourite Sport?">
<input type="Password" name="Q3" placeholder="What is your Favourite Animal?"> 
<input type="Submit">
</form>

<div>
	{% for message in messages %}
	<h3>
		{{message}}
	</h3>
	{% endfor%}
</body>
</html>