<!DOCTYPE html>
{% load static %}
<html>
<link rel="stylesheet" type="text/css"  href="{% static "css/BankHomeApp/dis.css" %}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<head>
	<title>Registration</title>
</head>
<body>
<form action="" method="POST" align="center">
{% csrf_token %}
<br>
<input type="text" name="first_name" placeholder="first_name"> 
<input type="text" name="last_name" placeholder="last_name"> 
</br>
<br>
 <input type="number" name="Age" placeholder="age">

 
 <input type="text" name="Address" placeholder="address">

 
<input type="number" name="AccountNumber" placeholder="Account Number">
</br>
<br>
<input type="text" name="username" placeholder="username">
<input type="Password" name="password1" placeholder="Password"> 
<input type="Password" name="password2" placeholder="Confirm Password">
</br>
<br>
<input type="Password" name="Q1" placeholder="Favourite Food?"> 
<input type="Password" name="Q2" placeholder="Favourite Sport?">
<input type="Password" name="Q3" placeholder="Favourite Animal?">



<br>
<input type="submit" class="form-submit-button" align="center">
</br>
</form>

<div align="center">
	{% for message in messages %}
	<h3>
		{{message}}
	</h3>
	{% endfor%}
</div>
</body>
</html>