<!DOCTYPE html>
{% load static %}
<html>
<link rel="stylesheet" type="text/css"  href="{% static "css/BankHomeApp/dis.css" %}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<head>
	<title>WELCOME!</title>
</head>
	
<body>
<div>
<h1 align="center">Welcome To The Admin Dashboard</h1>
{% if user.is_authenticated %}
          
          <h3 align="center">Hi {{user.username}} 
          </h3>
		
		{% endif %}
</div>
<div align="center">
<br>
<a class="btn btn-primary btn-lg" href="/new_acc" role="button">Create Account</a>
<a class="btn btn-primary btn-lg" href="/transfer" role="button">Transfer Money</a>
<a class="btn btn-primary btn-lg" href="/statement" role="button">Bank Statement</a>
</br>
<br>
<a class="btn btn-primary btn-lg" href="/admin_logout" role="button">Logout</a>
</br>
</div>
</body>
</html>

